.adduser-block{
    width: 40%;
    float: right;
    text-align: center;
    margin: 19px 24px;
    text-align: center;
    text-align: center;
    height: 326px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

}


.adduser-block input{
    display: inline-block;
    width: 80%;
    margin: 15px 45px;
    height: 40px;

    font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;

}

.adduser-block button {
    width: 40%;
    display: block;
    margin: 0 auto;
    border: none;
    height: 40px;

    padding: 10px 15px 11px !important;
font-size: 18px !important;
background-color: #57d6c7;
font-weight: bold;
text-shadow: 1px 1px #57D6C7;
color: #ffffff;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #57D6C7;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
