.filter-input-block {
  width: 40%;
  float: left;
  margin-top: 20px;
  text-align: center;
  height: 200px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
position: relative;
}

.filter-input-block input {
  width: 75%;
  margin: 0 auto;
  height: 45px;
  padding: 10px;
  border: 1px solid crimson;
  display: block;



  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;

}
