

.user-list {
  width: 50%;
  margin-top: 2px
}

ul {
  list-style-type: none;
}

.user-item {
width: 70%;
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);;
margin-top: 33px;
display: inline-block;
padding: 19px
}

.user-item div {
  width: 23%;
}


.name {
  float: left;
}

.email {
  float: left;
}

.phone {
  float: left;
}
.edit-btn {
    float: right;
    text-align: center;
    padding: 5px;
    background: crimson;
    color: white;
    font-weight: 900;
    cursor: pointer
}


.overlay-visible {
     display: block;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
       background: rgba(0, 0, 0, 0.7);
}

.overlay {
     display: none;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
       background: rgba(0, 0, 0, 0.7);
}

.modal-content {
  margin: 70px auto;
padding: 20px;
background: #fff;
border-radius: 5px;
width: 30%;
height: 250px;;
position: relative;
transition: all 5s ease-in-out
}

.modal-content input {
  display: inline-block;
height: 24px;
width: 80%;
padding: 5px;
margin: 7px
}

.modal-content button {
  display: inline-block;
  width: 50%;
  height: 48px;
  border: none;
  background: crimson;
  cursor: pointer;
  margin-top: 20px;
  color: white;
}

.close {
  text-align: right;
font-size: 29px;
padding: 5px;
width: 20px;
cursor: pointer;

}
.none {
  display: none;
}

.block{
  display: block;
}
